@model TransacaoViewModel
@{
    string acao = ViewContext.RouteData.Values["id"] == null ? "Cadastrar" : "Editar";
    ViewData["Title"] = acao;
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-lg btn-danger" asp-controller="Transacao" asp-action="Index">Cancelar</a>
            </div>
        </div>
        <hr />
        <form asp-action="Salvar" method="post" class="container" novalidate>
            @Html.HiddenFor(model => model.Id)
            <div class="row mt-3">
                <div class="col-md-4">
                    <label asp-for="Data">Data</label>
                    <input asp-for="Data" type="date" class="form-control">
                </div>
                <div class="col-md-4">
                    <label asp-for="Valor" class="form-label mb-0">Valor:</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input asp-for="Valor" type="text" class="form-control" aria-label="Amount">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                @if (Model.PlanoContas.Count() > 0)
                {
                    <div class="col-md-4">
                        <label asp-for="PlanoContaId">Item Plano de Contas</label>
                        @Html.DropDownListFor(model => model.PlanoContaId, Model.PlanoContas, "Selecione um Item", new { @class = "form-select" })
                    </div>
                }else
                {
                    <div class="col-md-4">
                        <label asp-for="PlanoContaId">É necessário: </label>
                        <p><a class="btn btn-outline-primary" asp-controller="PlanoConta" asp-action="Cadastrar">
                            Cadastrar um Item do Plano de Contas</a>
                        </p>
                    </div>
                }
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label asp-for="Historico">Histórico:</label>
                        <input asp-for="Historico" type="text" class="form-control">
                    </div>
                </div>
            </div >
            <button type="submit" class="mt-2 btn-lg btn-primary">@acao</button>
        </form>
    </div>
</div>
