@model PlanoContaViewModel
@{
    string acao = ViewContext.RouteData.Values["id"] == null ? "Cadastrar" : "Editar";
    ViewData["Title"] = acao;
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-lg btn-danger" asp-controller="PlanoConta" asp-action="Index">Cancelar</a>
            </div>
        </div>
        <hr />
        <div class="row mt-3">
            <form asp-action="Salvar" method="post">
                <input type="hidden" asp-for="Id">
                <div class="mb-3">
                    <label asp-for="Descricao" type="text">Descrição</label>
                    <input asp-for="Descricao" type="email" class="form-control">
                </div>
                <div>
                    <p>Tipo de Conta:</p>
                    <div class="form-check">
                        <label>@Html.RadioButtonFor(model => model.Tipo, "D", new { @class = "form-check-input" })Despesa</label>
                    </div>
                    <div class="form-check">
                        <label>@Html.RadioButtonFor(model => model.Tipo, "R", new { @class = "form-check-input" })Receita</label>
                    </div>
                </div >
                <button type="submit" class="mt-2 btn-lg btn-primary">@acao</button>
                </form>
        </div>
</div>
